.inputs{
    width: 50%;
    overflow: hidden;
}
.fields{
    float: left;
    width: 30%;
}
.field{
    padding-top: 5px; 
}
.radio{
    float: right;
    width: 70%;
}
.buttons{
    margin-left: 20px;
}
.but{
    margin-left: 29px;
    background-color: ;
    border-radius: 5px; 
}